{% extends "_layout.html" %}
{% block title %}Estrazione {% endblock %}
{% block content %}
<div class="container-fluid text-center">
    <h1> Estrazione {{ request.args.get('players') }} </h1>
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="col-md-3 offset-md-3 pt-2 pb-2">
                <img class="img-fluid" src="{{ player_img_url }}">
            </div>
            <div class="col-md-3 pt-2 pb-2">
                <h2><b> {{ player['player'] }} </b></h2>
                <h3> CLUB: {{ player['club'] }} </h3>
                <h3> Quotazione: {{ player['quotazione'] }} </h3>
                <div class="bottomdiv">
                    <a class="btn btn-dark btn-space" href="/fg/randombyrole/requirements">Scarta</a>
                    <a class="btn btn-success" href="/fg/randombyrole/requirements">Assegna</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
