{% extends "_layout.html" %}
{% block title %}Fantagazzetta Random per Ruolo{% endblock %}
{% block content %}
<div class="text-center">
  <div class="container-fluid mh-20">
    <div class="row">
      <div class="col bg-primary mx-2 pt-1">
        <h2 class="mt-1"><b>Portieri</b></h2>
        <a class="btn btn-dark mb-2" href="/fg/randombyrole/estrai?players=Portieri">Via!</a>
        <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" width="">
      </div>
      <div class="col bg-primary mx-2 pt-1 pb-2">
        <h2 class="mt-1"><b>Difensori</b></h2>
        <a class="btn btn-dark mb-2" href="/fg/randombyrole/estrai?players=Difensori">Via!</a>
        <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" width="">
      </div>
      <div class="col bg-primary mx-2 pt-1 pb-2">
        <h2 class="mt-1"><b>Centrocampisti</b></h2>
        <a class="btn btn-dark mb-2" href="/fg/randombyrole/estrai?players=Centrocampisti">Via!</a>
        <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" width="">
      </div>
      <div class="col bg-primary mx-2 pt-1 pb-2">
        <h2 class="mt-1"><b>Attaccanti</b></h2>
        <a class="btn btn-dark mb-2" href="/fg/randombyrole/estrai?players=Attaccanti">Via!</a>
        <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" width="">
      </div>
    </div>
  </div>
</div>
{% endblock %}
