{% extends "_layout.html" %}
{% block title %}Requisiti Fantagazzetta {% endblock %}
{% block bodyclass %}normal-page{% endblock %}
{% block headerclass %}single-page{% endblock %}
{% block headertop %}
<div class="page-barner-area relative white">
  <div class="area-bg"></div>
  <div class="container">
    <div class="row flex-v-center">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="barner-text">
          <h1 class="text-uppercase">Requisiti</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="text-center padding-30">
    <h1>Asta Conclusa!</h1>
    <p>
      Vuoi ricominciare includendo i giocatori scartati?
    </p>
    <form action="/fg/randombyrole/estrai">
        {{ form.hidden_tag() }}
        <input type="hidden" name="players" value="{{ request.args.get('players') }}" />
        <input type="hidden" name="include_excluded" value=1 />
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
