{% extends "_layout.html" %}
{% block title %}Requisiti Fantagazzetta {% endblock %}
{% block bodyclass %}normal-page{% endblock %}
{% block headerclass %}single-page{% endblock %}
{% block headertop %}
<div class="page-barner-area relative white">
  <div class="area-bg"></div>
  <div class="container">
    <div class="row flex-v-center">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="barner-text">
          <h1 class="text-uppercase">Requisiti</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="text-center padding-30">
    <h1>Compila tutti i campi</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <h3>{{ form.url_lega.label }}</h3>
            <p> Inserisci il link della tua fantalega fantagazzetta </p>
            {{ form.url_lega(size=100) }}
            <p> Es: https://leghe.fantagazzetta.com/fantacalcio-pontassieve </p>
        </p>
        <p>
            <h3> {{ form.password_lega.label }} </h3>
            <p> Inserisci una password di 8 caratteri per recuperare l'asta in qualunque momento </p>
            {{ form.password_lega(size=8) }}
        </p>
        <p>
            <h3> {{ form.millions.label }}</h3>
            {{ form.millions() }} 
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
