{% extends "_layout.html" %}
{% block title %}Fantagazzetta Random per Ruolo{% endblock %}
{% block bodyclass %}normal-page{% endblock %}
{% block headerclass %}single-page{% endblock %}
{% block headertop %}
<div class="page-barner-area relative white">
  <div class="area-bg"></div>
  <div class="container">
    <div class="row flex-v-center">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="barner-text">
          <h1 class="text-uppercase">Seleziona il Ruolo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="text-center section blog-area single-page padding-30">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
        <div class="single-blog mb50 wow fadeIn">
          <div class="blog-details padding-30 border">
            <h3><a href="/fg/randombyrole/estrai?players=Portieri">Portieri</a></h3>
            <div class="text-center single-widget mb50 tag-widget tagcloud">
                <a href="/fg/randombyrole/estrai?players=Portieri">Inizia!</a>
            </div>
            <div>
              <img src="https://content.fantacalcio.it/web/campioncini/card/DONNARUMMA-G.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
        <div class="single-blog mb50 wow fadeIn">
          <div class="blog-details padding-30 border">
            <h3><a href="/fg/randombyrole/estrai?players=Difensori">Difensori</a></h3>
            <div class="text-center single-widget mb50 tag-widget tagcloud">
                <a href="/fg/randombyrole/estrai?players=Difensori">Inizia!</a>
            </div>
            <div>
              <img src="https://content.fantacalcio.it/web/campioncini/card/SKRINIAR.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
        <div class="single-blog mb50 wow fadeIn">
          <div class="blog-details padding-30 border">
            <h3><a href="/fg/randombyrole/estrai?players=Centrocampisti">Centrocampisti</a></h3>
            <div class="text-center single-widget mb50 tag-widget tagcloud">
                <a href="/fg/randombyrole/estrai?players=Centrocampisti">Inizia!</a>
            </div>
            <div>
              <img src="https://content.fantacalcio.it/web/campioncini/card/MILINKOVIC-SAVIC.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-4">
        <div class="single-blog mb50 wow fadeIn">
          <div class="blog-details padding-30 border">
            <h3><a href="/fg/randombyrole/estrai?players=Attaccanti">Attaccanti</a></h3>
            <div class="text-center single-widget mb50 tag-widget tagcloud">
                <a href="/fg/randombyrole/estrai?players=Attaccanti">Inizia!</a>
            </div>
            <div>
              <img src="https://content.fantacalcio.it/web/campioncini/card/CRISTIANO-RONALDO.jpg">
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <h1> Rose </h1>
    </div>
    {% for team in teams  %}
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <h4>{{ team.name }} </h4>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <a href="/fg/randombyrole/downloadlista?teamid={{ team.id }}">ListaXLS</a>
      </div>
    </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
