{% extends "_layout.html" %}
{% block title %}Home {% endblock %}
{% block content %}
  <div class="py-5 text-center mx-3 mb-3" style="background-image: url('static/img/bg_home.jpg');background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="mx-auto p-1 my-1 col-md-8">
          <h1 class="display-4">Aste Fantacalcio</h1>
	  <p class="lead"> Qua puoi trovare vari metodi per gestire il momento piu' importante della tua stagione fantacalcistica, l'<strong> ASTA </strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col mx-2 pt-2 px-5 bg-primary mb-3 mh-10">
          <h2 class="mt-1"><b>Fantagazzetta</b></h2>
          <h2 class="mt-1">Random Ruolo</h2>
          <p class="lead">Estrazione giocatore randomica per ogni ruolo</p>
	  <a class="btn btn-dark mb-2" href="/fg/randombyrole/requirements">Inizia</a>
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" width="">
	</div>
      </div>
    </div>
  </div>
{% endblock %}
